<!-- Pokemon Grid -->
<div class="pokemon-grid">
    <div class="box" *ngFor="let pokemon of pokemons; let index = index">
        <img [src]="pokemon.sprites.front_default" alt="Pokemon">
        <h3>{{ pokemon.name }}</h3>
        <p *ngFor="let type of pokemon.types; let statindex = index">
            <b>Type:</b> <span [ngStyle]="{color: getColor(index,statindex)}">{{ pokemon.types[statindex].type.name }}</span>
        </p>
        <div *ngFor="let stats of pokemon.stats; let statindex = index">
            <p>{{pokemon.stats[statindex].stat.name}} : {{pokemon.stats[statindex].base_stat}}</p>
        </div>
    </div>
</div>